.umumi{
	background-image: url("../images/body.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	width: 100%;
  	height: 1200px;
}

.insta{
	background-color: black;
	border: none;
	height: 25px;
	float: left
	color: white!important;
	float: left;
	display: flex;
	align-items: center;
	justify-content: right!important;
	border-radius: 4px;
	opacity: 0.7;
	box-shadow: 2px 2px 2px red;
}
.insta i{
	color: white!important;
}
.insta p{
	color: white!important;

	height: 8.2px;
	margin-left: 4px;

}
.insta:hover{
	background-color: blue;
	box-shadow: none;
*/	opacity: 1;
}
.slaydlar:hover .iconsol{
	display: flex!important;
}
.slaydlar:hover .iconsag{
	display: flex!important;
}
.slayd:hover{
	box-shadow: 4px 4px 4px green!important;
}
.slayd{
	transition: 1s;
	cursor: pointer;
}
.slayd p:hover{
	color:blue;
}
.iconsol i{
	cursor: pointer;
}
.iconsag i{
	cursor: pointer;

}
.iconsag i:hover{
	color: blue;
}
.iconsol i:hover{
	color: blue;
}
.menu{
	height: 50px;
	background-color: #f4f4f4;
	float: left;
	margin-top: 30px;
	border-bottom: 3px solid blue;
	border-top: 3px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;


}
.menues{
	width: 12.5%!important;
	float: left;
	border-left: 1px solid black;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menues p{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px!important;
	margin-top: 15px;
	color: #1e59d0!important;
}
@media only screen and (max-width: 1075px) {
  .menues p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 950px) {
  .menues p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 821px) {
  .menues p {
    font-size: 10px;
  }
  .menu{
  	height: 40px;
  }
  .menues{
  	height: 40px;
  }
  .menues p{
  	height: 40px;
  }
}
@media only screen and (max-width: 681px) {
  .menues p {
    font-size: 8px;
  }
}
@media only screen and (max-width: 481px) {
  .menues p {
    font-size: 8px;
  }
}
.menues:hover{
	cursor: pointer;
	background-color: #1e59d0;
}
.menues:hover p{
	color: white!important;

}
